form.playground h3 {
  margin: 1em 0 .25em;
}
form.playground p,
form.playground pre,
form.playground ul {
  margin: 0;
  padding: 0 0 0 1em;
  list-style: none;
}

form.playground p.expression {
  display: flex;
  align-items: center;
  padding: 0 0 .5em;
}
form.playground p.expression label,
form.playground p.expression input {
  font-family: monospace !important;
}
form.playground p.expression input,
form.playground p.expression button {
  box-sizing: border-box;
}
form.playground p.expression input {
  flex-grow: 1;
  margin-right: 1ex;
}

form.playground pre.expression {
  overflow: auto;
}

form.playground pre.sparql {
  overflow-x: auto;
}

form.playground p.multiple {
  font-style: italic;
  text-align: right;
}

form.playground p.single [data-error]:before {
  content: 'Expression error: ' attr(data-error);
  font-style: italic;
  font-weight: bold;
  color: red;
}
